.mainContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  border: 1px solid gray;
  padding: 40px;
  border-radius: 10px;
}

.inputWithIcon {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  
}
.iconTodo {
  flex: 1;
  height: 50px;

  color:white;
  background-color: gray;
  border-radius: 10px;
  margin-right: 5px;
}
.inputTodo {
  border: none;
  flex: 9;
  margin-right: 15px;

}
.inputTodo:focus{
  outline: none;
}

.addTodoBtn {
  width: 100%;
}

.addTodoBtn:hover{
  background-color: red;
  color: white;
}
